.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 1024px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
