.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--gap-4xl);
  margin: 0 auto;
  padding: 0 var(--padding-xl);
  width: 100%;
  max-width: 1024px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 100%;
}

.hr {
  width: 100%;
  height: 1px;
  background: var(--linear-gradient);
}
