:root {
  --turquoise: #4ecdc4;
  --red-coral: #ff6b6b;
  --yellow-golden: #ffd166;
  --off-white: #f5f5f5;

  --color-primary: var(--turquoise);
  --color-secondary: var(--red-coral);
  --color-highlight: var(--yellow-golden);
  --color-bg: var(--off-white);

  --text-primary: #1e1e1e;
  --text-light: #5c5c5c;

  --linear-gradient: linear-gradient(
    to right,
    #4ecdc4,
    #ff6b6b 75%,
    #ffd166 100%
  );

  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.25rem;
  --font-size-9xl: 6rem;

  --hero-title-fluid: clamp(
    var(--font-size-4xl),
    0.5455rem + 7.2727vw,
    var(--font-size-9xl)
  );
  --hero-catchphrase-fluid: clamp(
    var(--font-size-xl),
    0.8864rem + 1.8182vw,
    var(--font-size-5xl)
  );
  --h2-fluid: clamp(
    var(--font-size-3xl),
    1.5682rem + 0.9091vw,
    var(--font-size-5xl)
  );
  --h3-fluid: clamp(
    var(--font-size-xl),
    1.1591rem + 0.4545vw,
    var(--font-size-2xl)
  );
  --text-fluid: clamp(
    var(--font-size-base),
    0.9091rem + 0.4545vw,
    var(--font-size-xl)
  );

  --border-light: rgba(92, 92, 92, 0.25);

  --box-shadow-base: 2px 2px 4px 0 rgba(92, 92, 92, 0.1);
  --box-shadow-xl: 4px 4px 8px 0 rgba(92, 92, 92, 0.1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 1rem 0;
}

h2 {
  font-size: var(--h2-fluid);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-fluid);
  font-weight: 500;
}

p,
li {
  font-size: var(--text-fluid);
  font-weight: 500;
}

ul {
  list-style: none;
}

ul li::before {
  content: "✓ ";
}
