.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  padding: 0 var(--fluid-padding-mobile);
}

.approach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  padding: 0 var(--fluid-padding-mobile);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  padding: 0 var(--fluid-padding-mobile);
}

.titleGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cardsGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 0.75rem;
  background-color: var(--background);
  box-shadow: var(--box-shadow-2);
}

.name {
  letter-spacing: 0.03em;
}

.catchphrase {
  font-weight: 500;
  padding: 0 1rem 0 0;
}

@media only screen and (min-width: 768px) {
  .hero,
  .approach,
  .services {
    padding: 0 var(--fluid-padding-desktop);
  }

  .cardsGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .name {
    letter-spacing: 0em;
  }
}
