html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground);*/
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 115%;
  background-color: #f5f5f5;
  background-size: 100%;
  background-repeat: repeat;
  background-image: linear-gradient(to right, #4ecdc4, #ff6b6b 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

p {
  color: #5c5c5c;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

button {
  font-family: Inter, Inter Fallback;
  font-size: 1rem;
}

.button-border-wrap {
  padding: 0.06rem;
  position: relative;
  background: linear-gradient(to right, #4ecdc4, #ff6b6b);
  border-radius: 0.13rem;
}

.call-to-action {
  padding: 1rem;
  border: none;
  background: #f5f5f5;
  border-radius: 0.13rem;
}
