.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1024px;
  height: 100vh;
  padding: 0 var(--fluid-24-48);
}

.name {
  letter-spacing: 0.03em;
}

.catchphrase {
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 0 var(--fluid-48-16);
  }
  .name {
    letter-spacing: 0em;
  }
}
