.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 var(--fluid-padding-mobile);
  width: 100%;
  max-width: 1024px;
  height: 100vh;
}

.heroTitle {
  font-weight: 900;
  font-size: var(--fluid-title-hero-mobile);
  line-height: 1.1;
  text-transform: uppercase;
  background-color: var(--background);
  background-size: cover;
  background-repeat: repeat;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.name {
  letter-spacing: 0.03em;
}

.catchphrase {
  font-weight: 500;
  padding: 0 1rem 0 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 0 var(--fluid-padding-desktop);
  }

  .heroTitle {
    font-size: var(--fluid-title-hero-desktop);
  }

  .name {
    letter-spacing: 0em;
  }
}
