.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 var(--padding-xl);
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
}

.heroTitle {
  font-weight: 900;
  font-size: var(--hero-title-fluid);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.catchphrase {
  font-size: var(--hero-catchphrase-fluid);
  font-weight: 500;
  text-align: center;
  width: 100%;
}
