.servicesCardsGroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4xl);
}

.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-bg);
  border: 1px solid var(--border-light);
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow-xl);
}

@media only screen and (min-width: 768px) {
  .servicesCardsGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
