.button {
  font-family: Inter, Inter Fallback;
  font-size: var(--text-fluid);
  font-weight: 500;
  display: flex;
  align-items: end;
  gap: 0.3rem;
  padding: 1rem;
  border: none;
  background-color: var(--color-bg);
  border-radius: 0.13rem;
}

.buttonBorderWrap {
  padding: 0.125rem;
  position: relative;
  background-image: var(--linear-gradient);
  border-radius: 0.13rem;
  box-shadow: var(--box-shadow-base);
}

.buttonBorderWrap:hover > .button {
  cursor: pointer;
}
