.button {
  font-family: Inter, Inter Fallback;
  font-size: var(--text-fluid);
  font-weight: 500;
  color: var(--text-light);
  display: flex;
  align-items: end;
  gap: 0.3rem;
  padding: var(--padding-base);
  border: none;
  background-color: var(--color-bg);
  border-radius: 0.13rem;
}

.buttonBorderWrap {
  padding: 0.063rem;
  position: relative;
  background-image: var(--linear-gradient);
  border-radius: 0.13rem;
  box-shadow: var(--box-shadow-base);
}

.button {
  cursor: pointer;
}

.button:hover {
  color: var(--text-primary);
}

.iconBurger {
  font-size: var(--font-size-3xl);
}

@media screen and (min-width: 768px) {
  .buttonBurger {
    display: none;
  }
}
