.header {
  background-color: var(--color-bg);
  padding: 0 var(--padding-xl);
  box-shadow: 0px 2px 4px 0 rgba(92, 92, 92, 0.1);
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.logoName {
  font-size: var(--font-size-2xl);
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--color-bg);
  background-size: cover;
  background-repeat: repeat;
  background-image: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.topNavMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-2xl);
  padding: var(--padding-2xl);
  background-color: var(--color-bg);
  border: 1px solid var(--border-light);
  border-radius: 0.3rem;
  width: 50%;
  position: absolute;
  top: 110%;
  right: 0;
  box-shadow: var(--box-shadow-xl);
  z-index: 1;
}

.topNavMenuHidden {
  display: none;
}

.topNavMenu a {
  font-size: var(--text-fluid);
  line-height: 1;
  color: var(--text-light);
}

.topNavMenu a:hover {
  color: var(--text-primary);
}

@media screen and (min-width: 768px) {
  .topNavMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-2xl);
    padding: var(--padding-2xl) 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
    position: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    box-shadow: none;
  }
}
