.header {
  background-color: var(--color-bg);
  padding: var(--padding-2xl) var(--padding-xl);
  box-shadow: 0px 2px 4px 0 rgba(92, 92, 92, 0.1);
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logoName {
  font-size: var(--font-size-2xl);
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--color-bg);
  background-size: cover;
  background-repeat: repeat;
  background-image: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.navBarMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-2xl);
  padding: var(--padding-8xl) var(--padding-2xl);
  background-color: var(--color-bg);
  width: 75%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -2px 0px 4px 0 rgba(92, 92, 92, 0.1);
  z-index: 1;
}

.hidden {
  left: 100%;
}

.navBarMenu a {
  font-size: var(--text-fluid);
  line-height: 1;
  color: var(--text-light);
}

.navBarMenu a:hover {
  color: var(--text-primary);
}

.btnBurger {
  background-color: transparent;
  border: none;
  font-size: var(--text-fluid);
  line-height: 1;
  color: var(--text-light);
}

.btnClosed {
  background-color: transparent;
  border: none;
  font-size: var(--h3-fluid);
  line-height: 1;
  color: var(--text-light);
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navBarMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-2xl);
    padding: 0;
    background-color: transparent;
    width: auto;
    height: auto;
    position: inherit;
    top: 0;
    right: 0;
    z-index: 0;
    box-shadow: none;
  }

  .btnBurger,
  .btnClosed {
    display: none;
  }
}
